<div class="video-box">
    <!-- <video src="ffvid.mp4" autoplay  loop muted ></video> -->
    <!-- <video src="hvid.mp4" autoplay loop muted ></video> -->
    <div class="col-md-6 " routerLink="/parfums/femme/f" >
        <img src="model.jpg" height="100%" alt="">
    </div>
    <div class="col-md-6 " routerLink="/parfums/homme/h" >
    <img src="modelHH.png" height="100%" alt="">
</div>
    <div class="col-ml-6" routerLink="/aboutus">
    <img src="YM.png" alt="" class="ym"> </div>
</div>


<app-api></app-api>