
<ul>
    <img class="coupon" src="couponhf.jpg" alt="">
    @for(pf of parfums ; track $index){
      <li>
            <div class="container-lg-5" >
                <!-- Grille Bootstrap -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    <!-- Boucle Angular pour les produits -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-content">
                                <!-- Image du produit -->
                                <div class="card-img">
                                    <img [src]="pf.photo" [alt]="pf.nom" class="img-fluid">
                                </div>
                                <!-- Informations du produit -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ pf.nom }}</h5>
                                    <p class="card-text">20% {{ pf.prix -20 | currency}} </p>
                                    
                                    <span 
                                    [ngClass]="{
                                        'badge': true,
                                        'text-bg-success': pf.dispo,
                                        'text-bg-danger': !pf.dispo
                                    }">
                                    {{ pf.dispo ? 'DISPONIBLE' : 'RUPTURE DE STOCK' }}
                                </span>
                                <br>
                                    <a  class="btn btn-primary" [routerLink]="['/parfums/f',pf.id]">Voir Détails
                                     
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>   
       
    }
    
</ul>    

